
<div class="bg-white overflow-hidden h-full">
    <img *ngIf="movie?.poster" class="w-full h-56 object-cover object-center" [src]="movie?.poster" [alt]="movie?.title">
  <div class="flex items-center px-6 py-3 bg-gray-900">
      <h1 class="mx-3 text-white font-semibold text-lg">{{ movie?.title }}</h1>
  </div>
  <div class="py-4 px-6 divide-y-2">
    <div class="mt-4 text-gray-700">
      <div class="flex justify-between">
        <div>
          <h2 class="text-sm">{{ 'movies.details.score' | translate }}</h2>
          <p class="text-gray-400">
            {{ movie?.imdbRating }}
          </p>
        </div>
        <div>
          <h2 class="text-sm text-right">{{ 'movies.details.duration' | translate }}</h2>
          <p class="text-gray-400 text-right">
            {{ movie?.duration }}
          </p>
        </div>
      </div>
    </div>
    <div class="mt-4 text-gray-700">
        <h3 class="">{{ 'movies.details.actors' | translate }}</h3>
        <p *ngFor="let actor of movie?.actors" class="text-gray-400">
          {{ actor }}
        </p>
    </div>
    <div *ngIf="movie?.studio" class="mt-4 text-gray-700">
        <h4>{{ 'movies.details.studio' | translate }}</h4>
        <p class="text-gray-400">
          {{ movie?.studio }}
        </p>
    </div>
    <div class="mt-4 text-gray-700">
        <h4 class="">{{ 'movies.details.genre' | translate }}</h4>
        <app-badge [badges]="movie?.genre"></app-badge>
    </div>
  </div>
</div>
