<app-header [backButton]="true" [title]="movie?.title"></app-header>

<ion-content [fullscreen]="true">
  <app-loading *ngIf="!movie" [loading]="loading"></app-loading>
  <app-movies-detail-view *ngIf="movie" [movie]="movie"></app-movies-detail-view>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="loading" (click)="deleteMovie(movie?.id)" color="danger" class="mb-3">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [disabled]="loading" (click)="goToEdit(movie?.id)" color="warning">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
