<app-header [title]="movie?.title"></app-header>

<ion-content [fullscreen]="true">
  <app-loading *ngIf="!movie" [loading]="loading"></app-loading>
  <app-movies-detail-view *ngIf="movie" [movie]="movie"></app-movies-detail-view>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-back-button
      defaultHref="movies"
      icon="arrow-back"
      text=""
      color="secondary">
    </ion-back-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToEdit(movie?.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="goToEdit(movie?.id)">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
