<app-header [title]="'movies.title' | translate"></app-header>

<ion-content [fullscreen]="true">
  <app-loading *ngIf="loading && !movies.length" [loading]="loading"></app-loading>

  <div #container>
    <ion-virtual-scroll [items]="movies" approxItemHeight="401px">
      <ng-container *virtualItem="let movie">
        <app-card (click)="goToDetailPage(movie)">
          <ng-template #header>
            <div class="poster" [style.background-image]="'url(' + movie.poster + ')'"></div>
            <ion-card-title>{{ movie.title }}</ion-card-title>
          </ng-template>
          <ng-template #content>
            <app-badge [badges]="movie?.genre"></app-badge>
          </ng-template>
        </app-card>
      </ng-container>
    </ion-virtual-scroll>
  </div>
  <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)" position="bottom">
    <ion-infinite-scroll-content>
      <app-loading [loading]="movies?.length && loading"></app-loading>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="w-full text-center h-20"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddMovie()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
